body{
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

.logotipo{
  width: 100%;
}

.navbar{
  background: linear-gradient(90deg, rgba(149,111,255,1) 0%, rgba(197,115,255,1) 52%, rgba(210,95,255,1) 100%);
  margin: 0;
}

.carrito{
  background-color: rgba(47, 0, 255, 0.493);
  margin-right: 15px;
  border-color: whitesmoke;
}

.carrito:hover{
  background-color: rgb(204, 13, 211);
  border: 2px solid whitesmoke;
}

.card{
  width: 18rem;
  background: rgba(255, 255, 255, 0.671);
  border-color: white;
}

.caja{
  column-gap: 10px;
  row-gap: 10px;
}

.divlogo {
  display: flex; }
  .divlogo img {
    width: 100%; }

.btncart{
  background-color: rgb(148, 0, 153);
  color: white;
}

.btncart:hover{
  background-color: rgb(204, 13, 211);
  color: white;
}

.vermas{
  width: 90%;
}

.cajaproductos{
  background-color: #bc55ec41;
}

