.logotipo{
  width: 100%;
}

.contenedor{
  background-color: rgba(126, 0, 199, 0.486);
}

.carrito{
  background-color: rgba(47, 0, 255, 0.493);
  margin-right: 15px;
  border-color: whitesmoke;
}

.carrito:hover{
  background-color: rgba(255, 0, 191, 0.418);
  border: 2px solid whitesmoke;
}

.card{
  width: 18rem;
}

.row{
  column-gap: 15px;
  row-gap: 15px;
}
